body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Navbar */

.main-nav{
  width: 100%;

}
.inner-nav{
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  border: 1px solid grey;
  padding:0px 20px;
  align-items: center;

}

/* Product */

.div-wrapper{
  width: 90%;
  margin: auto;
  display: flex;
  padding: 20px 20px;
  justify-content: space-between;
}

.item-list-div{
  width: 90%;
  margin: auto;
  padding: 20px;
}

table{
  border: 1px solid lightgrey;
  padding: 10px;
  border-collapse: collapse;
}

thead {
  background-color: #f2f2f2;
}

tbody {
  background-color: #fff; 
}


tr {
  border-bottom: 1px solid #ccc; 
}

td, th {
  padding: 8px; 
  text-align: left; 
}
th {
  background-color: #e0e0e0; 
  font-weight: bold; 
}
tr:hover {
  background-color: #bd8282; 
}

.sl{
  background-color: rgb(184, 183, 183);
  border-radius: 12px;
  margin-top: 30px;
}
.tsa{
  font-weight: 500;
}